<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>

      <% unless flash[:errors].nil? %>
        <% flash[:errors].each do |error| %>
          <%= error  %>
          <br>
        <% end %>
        <br>
      <% end %>
      <% if logged_in? %>
     Greetings there, <%= current_user.username %>
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>
      <% else  %>
        <a href="<%=new_session_url%>">login</a>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
